.menu {
    background: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
}

.menu a {
    font-size: 2rem;
    padding: 1rem 0;
    text-decoration: none;
    transition: color 0.3s linear;
}