.nav-bar {
    background-color: #3e3f3a;
    color: white;
}

.nav-bar ul {
    list-style-type: none;
}

.nav-bar li {
    float: left;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar a:hover {
    background-color: #30302d;
}

.nav-button {
    width: 3rem;
    height: 3rem;
}

.nav-content {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
